version: '3.8'

services:
  dentist-db:
    image: mysql
    container_name: dentist_db
    restart: always
    environment:
      MYSQL_DATABASE: dentist_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: pwd
      MYSQL_ROOT_PASSWORD: pwd
    volumes:
      - db-volume:/var/lib/mysql
    ports:
      - "3306:3306"

  dentist-app:
    image: berk2s/dentist-app:staging
    container_name: dentist-app
    depends_on:
      - dentist_db
    restart: always
    environment:
      DB_URL: jdbc:mysql://dentist_db:3306/dentist_db?serverTimezone=Europe/Istanbul
      DB_USER: app_user
      DB_PASS: pwd
      SPRING_PROFILES_ACTIVE: local
    ports:
      - "8080:8080"

volumes:
  db-volume:

networks:
  network:
    name: dentist_db